[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = {extras = ["all"] }
uvicorn = {extras = ["standard"] }
neo4j = "*"
pydantic = {extras = ["dotenv"] }
gunicorn = "*"
python-jose = {extras = ["cryptography"], version = "*"}
passlib = {extras = ["bcrypt"], version = "*"}

[dev-packages]

[requires]
python_version = "3.12"
